<!DOCTYPE html>
@{ Layout = "~/Views/Shared/_LayoutUsuario.cshtml";}
<body>  
   
 <div class="">
    <div class="container">
      <div class="row">           
          <div class="er_cont_User ">
            <div class="er_sombra_User">
                <div class="container">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="row">
                                    <div class="col-md-12  " style="font-weight: bold; color:white ">
                                        <h1>Perfil de Usuario</h1>
                                        <hr />
                                    </div>
                                    <form asp-action="Profile" asp-controller="usuario" method="post" enctype="multipart/form-data" >
                                       <input id="isperfil" name="usuario.isperfil" value="true" hidden/>
                                        
                                        <div class="row">
                                        @{
                                            if (ViewBag.usuario.ImagenUserIurl==null)
                                            {
                                            <div class="col-md-4">
                                                <div class="er_card_imgPerfil">
                                                    <row id="preview_imgPerfil">
                                                        <img id="ImgPerfil1" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" />
                                                    </row>
                                                    <label for="imgperfil" class="er_scroll_botAdd"><i class="fas fa-angle-double-up"></i></label>
                                                    <label for="" id="imgperfilDel" class="er_scroll_botDel"><i class="far fa-trash-alt"></i></label>
                                                    <input id="imgperfil"  name="usuario.imgperfil" type="file"  />
                                                </div>
                                            </div> 

                                            }
                                            else
                                            {
                                            <div class="col-md-4">
                                                <div class="er_card_imgPerfil">
                                                    <row id="preview_imgPerfil">
                                                        <img id="ImgPerfil1" src="@ViewBag.usuario.ImagenUserIurl" />
                                                    </row>
                                                    <label for="imgperfil" class="er_scroll_botAdd"><i class="fas fa-angle-double-up"></i></label>
                                                    <label for="" id="imgperfilDel" class="er_scroll_botDel"><i class="far fa-trash-alt"></i></label>
                                                    <input id="imgperfil"  name="usuario.imgperfil" type="file"  />
                                                </div>
                                            </div>             
                                            }
                                        }
                                            
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4 ">                                                        
                                                        <div class="form1 md-form  ">                                                          
                                                            <input type="text" name="usuario.Nombres" value="@ViewBag.usuario.Nombres" required>
		                                                    <label class="er_lbl-nombre">
			                                                    <span class="er_text-nomb">Nombre</span>
		                                                    </label>                                                   
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form1 md-form ">
                                                            <input type="text" name="usuario.ApellidoPaterno" value="@ViewBag.usuario.ApellidoPaterno"  required>
		                                                    <label class="er_lbl-nombre">
			                                                    <span class="er_text-nomb">Apellido Paterno</span>
		                                                    </label>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form1 md-form ">
                                                            <input type="text" name="usuario.ApellidoMaterno" value="@ViewBag.usuario.ApellidoMaterno" required>
		                                                    <label class="er_lbl-nombre">
			                                                    <span class="er_text-nomb">Apellido Materno</span>
		                                                    </label>
                                                           </div>
                                                    </div>

                                                </div>
                                                <hr />
                                                <div class="row">
                                                     <div class="col-md-4">
                                                        <div class="form1 md-form ">
                                                            <input type="text" name="usuario.Email"  value="@ViewBag.usuario.Email" required>
		                                                    <label class="er_lbl-nombre">
			                                                    <span class="er_text-nomb">Email</span>
		                                                    </label>
                                                           </div>
                                                    </div>

                                               @*     <div class="col-md-4">
                                                        <div class="md-form form">
                                                            <input type="date" value=" "  class="form-control" ¨placeholder="" name="FechaNacimiento" id="FechaNacimiento" />
                                                            <label class="lbl-nombre">
			                                                    <span class="text-nomb">Fecha de Nacimiento</span>
		                                                    </label>
                                                        </div>
                                                    </div>*@
                                                    

                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Contraseña: ********</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button style="background:#fff" class=" btn purple-gradient btn-rounded waves-effect waves-light">Cambiar Contraseña</button>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <button style="background:#fff" type="submit" class=" btn blue-gradient btn-rounded waves-effect waves-light">Guardar</button>
                                                    </div>


                                                </div>
                                            </div>


                                        </div>
                                        <hr />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>   
      </div>
    </div>
 </div>
</body>

 
