<!DOCTYPE html>
 @{ Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";}

<body>      
 <div class="er_cont_User">
    <div class="container">
      <div class="row">           
          <div class="  ">
            <div class="er_sombra_Produc">
                <div class="container">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="row">
                                    <div class="col-md-12  " style="font-weight: bold; color:white ">
                                        <h1>Editar Producto</h1>
                                        <hr />
                                    </div>
                                    <form asp-action="Editp" asp-controller="empresa" method="post" enctype="multipart/form-data" >
                                        <div class="row">
                                                <div class="col-md-4">
                                                <div class="er_card_imgPerfil">
                                                    <input name="Prod.ProductoId" value="@ViewBag.producto.ProductoId" hidden/>
                                                    <input id="StatusEditImg" name="Prod.EditImg" value="false" hidden/>  
                                                    <row id="preview_imgPerfilProducto">                                                                                                  
                                                        @if (ViewBag.producto.ImagenP==null)
                                                        {
                                                            <img class="image" id="ImgPerfil1Producto" src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-commodity-icon-commercial-element-iconclothing-iconclothes-iconclothesiconclothinghatcoatshirtskirtshoesofacoatpantssock-png-image_4080072.jpg" />
                                                        }else
                                                        {
                                                            <img class="image" id="ImgPerfil1Producto" src="@ViewBag.producto.ImagenP" />
                                                        }
                                                    </row>
                                                    <label for="imgperfilProducto" class="er_scroll_botAdd"><i class="fas fa-angle-double-up"></i></label>
                                                    <label id="imgperfilDelProducto" class="er_scroll_botDel"><i class="far fa-trash-alt"></i></label>
                                                    <input id="imgperfilProducto"  name="Prod.imgperfilProducto" type="file"/>
                                               
                                                </div>
                                            </div> 
                                     
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="form1 col-md-4  " >
                                                        <input id="NombreProd" value="@ViewBag.producto.Nombre"   name="Prod.Nombre" type="text"  required>
                                                        <label class="er_lbl-nombre"   for="Nombre">
			                                                <span class="er_text-nomb">Nombre</span>
		                                                </label>  
                                                    </div>
                                                    <div class="form1 col-md-4 ">                                                        
                                                        <input type="text" name="Prod.Marca" value="@ViewBag.producto.Precio"   required >
		                                                <label class="er_lbl-nombre" data-error="wrong" data-success="right" >
			                                                <span class="er_text-nomb">Marca</span>
		                                                </label> 
                                                    </div>
                                                    <div class="form1 col-md-4">
                                                        <input type="text" name="Prod.Descripcion" value="@ViewBag.producto.Descripcion" required>
		                                                <label class="er_lbl-nombre">
			                                                <span class="er_text-nomb">Descripcion</span>
		                                                </label>

                                                    </div>
                                            
                                                    <div class="form1 col-md-4 ">                                                      
                                                        <input type="number" name="Prod.Precio"required value="@ViewBag.producto.Precio"  >
		                                                <label class="er_lbl-nombre">
			                                                <span class="er_text-nomb">Precio</span>
		                                                </label>
                                                
                                                    </div>
                                                     <div class="md-form col-md-4"  >
                                                        <h10 for="categoria" style="color:white" class="font-weight-bold"  >Categoria </h10>
                                                        <select class="combobox form-control" name="Prod.categoria" id="categoria">
                                                             
                                                            <option value="0" id="0"  >Tipo</option>
                                                             @foreach (var categoria in ViewBag.categoria)
                                                            {
                                                                if (categoria.CategoriaId == ViewBag.producto.CategoriaId)
                                                                {
                                                                    <option value="@categoria.CategoriaId" id="@categoria.CategoriaId" selected="selected">@categoria.Nombre</option>
                                                                }else
                                                                {
                                                                    <option value="@categoria.CategoriaId" id="@categoria.Nombre">@categoria.Nombre</option>  
                                                                }                                                                
                                                            }
                                                            
                                                        </select>
                                                    </div>
                                           
                                                </div>
                                                <hr />
                                             
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <button style="background:#fff" type="submit" class=" btn blue-gradient btn-rounded waves-effect waves-light">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>   
      </div>
    </div>
 </div>
</body>
       
