 <!DOCTYPE html>
 @{ Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";}
<html lang="en">
 
<html lang="en">

 <style>
.er_goldcarousel img {
    max-width: 100%;
    max-height: 600px;
    margin: auto;
    width: 1350px;
    min-height: 400px;
}
</style>
<body id="page-top">
    <div class="er_cont_User">
         <!-- Begin Page Content -->
                <div class="container-fluid">
                    <hr/
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> </h1>
                     </div>
                      <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">INICIO</h1>
                     </div>
                    <div class="">
                          <div class=" col-md-12">
                              <form class="er_contentsearch" id="" action="/empresa/search" method="post">
                                <div class="row"  >
                                  <div class="col-lg-4 align-self-center"  >
                                      <fieldset>
                                          <select name="search.categoria" class="" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                                              <option selected value="0">Categoria </option>
                                                @foreach(var cat in ViewBag.categoria)
                                                {
                                                   <option value="@cat.CategoriaId">@cat.Nombre</option>              
                                                }
              
                                          </select>
                                      </fieldset>
                                  </div>         
                                  <div class="col-lg-4 align-self-center">                 
                                      <fieldset>                          
                                          <input name="search.busqueda" class="searchText" placeholder="Ingrese búsqueda" autocomplete="off"  >
                                      </fieldset>             
                                  </div>           
                                  <div class="col-lg-4 align-self-center" >                         
                                      <fieldset>
                                          <button type="submit" class="er_button main-button"><i class="fa fa-search"></i> Buscar</button>
                                      </fieldset>
                                  </div>
                                </div>
                               </form>
                            </div>
                     <div>
                           <!-- Begin Page Content -->
                <div class="container-fluid ">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> </h1>
                     </div>             
     
            <h5>Productos:</h5>
            <hr/>
            <div class="col-md-12">
                 <div class="container">
                        <div class="row">
                            <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                                <div class="MultiCarousel-inner">
                                @if (ViewBag.productos!=null)
                                {
                                    @foreach (var prod in ViewBag.productos)
                                        {
                                        <div class="item" style="opacity:0.95;  ">
                                            <div class="pad15 er_cont_carrousel">
                                                <div class="  " style="border-radius: 10px; ">
                                                    @if (@prod.ImagenP==null)
                                                    {
                                                        <img class="img-fluid" src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-commodity-icon-commercial-element-iconclothing-iconclothes-iconclothesiconclothinghatcoatshirtskirtshoesofacoatpantssock-png-image_4080072.jpg" style="" loading="lazy" />
                                                    }else
                                                    {
                                                        <img class="img-fluid" src="@prod.ImagenP" style="" loading="lazy" />                                                        
                                                    }
                                                    @if (@prod.CategoriaId == null)
                                                    {
                                                        <p style="color:white; background-color:rgba(0,0,0,0.8); top:-200px;position:relative;    border-radius: 5px;">
                                                        <i class="fa-solid fa-arrows-spin"></i>
                                                         Otros</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:white; background-color:rgba(0,0,0,0.8); top:-200px;position:relative;    border-radius: 5px;">
                                                        @foreach (var cat in ViewBag.categoria)
                                                        {
                                                            if (prod.CategoriaId == cat.CategoriaId)
                                                            {
                                                                <i class="fa-solid fa-arrows-spin"></i> @cat.Nombre 
                                                            }
                                                        }

                                                        </p>            
                                                    }


                                                        
                                                    
                                                    
                                                        </div>
                                                        <div>
                                                            <h6 class="card-text"> @prod.Nombre </h6>                                                        
                                            
                                                            @if (prod.Precio != null)
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="far fa-money-bill-alt"></i> : S/.@prod.Precio
                                                                </h6>
                                                            }                                                             
                                                      <hr/>
                                                            <a href="/empresa/produc?Id=@prod.ProductoId" class="er_button" > Ver </a>
                                                         <hr/>
                                                        </div>
                                                </div>
                                            </div>                                       
                                        }                                 
                                }
                                </div>
                                <button class="leftLst" style="background-color:transparent;color:black; opacity:0.5; font-weight: bold;font-size:60px;  "><</button>
                                <button class="rightLst" style="background-color:transparent;color:black; opacity:0.5;font-weight: bold;font-size:60px; ">></button>
                            </div>
                        </div>
                 </div>
            </div>
            <hr/>
            <h5>Servicios:</h5>
            <hr />
            <div class="col-md-12">
                 <div class="container">
                        <div class="row">
                            <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                                <div class="MultiCarousel-inner">
                                @if (ViewBag.servicios!=null)
                                {
                                    @foreach (var serv in ViewBag.servicios)
                                        {
                                                    <div class="item" style="opacity:0.95;  ">
                                                        <div class="pad15 er_cont_carrousel">
                                                            <div class="  " style="border-radius: 10px; ">
                                                                @if (serv.ImagenS != null)
                                                                {
                                                                    <img class="img-fluid" src="@serv.ImagenS" style="" loading="lazy" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="img-fluid" src="https://previews.123rf.com/images/bitontawan02/bitontawan021606/bitontawan02160600001/58946113-servicios-empresariales-globales-icono-y-s%C3%ADmbolo.jpg" style="" loading="lazy" />
                                                                }
                                                                @if (serv.CategoriaId==null)
                                                                {
                                                                     <p style="color:white; background-color:rgba(0,0,0,0.8); top:-200px;position:relative;    border-radius: 5px;">
                                                                      <i class="fa-solid fa-arrows-spin"></i>  
                                                                      otros
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="color:white; background-color:rgba(0,0,0,0.8); top:-200px;position:relative;    border-radius: 5px;">
                                                                    @foreach (var cat in ViewBag.categoria)
                                                                    {
                                                                        if (serv.CategoriaId == cat.CategoriaId)
                                                                        {
                                                                            <i class="fa-solid fa-arrows-spin"></i> @cat.Nombre 
                                                                        }
                                                                    }

                                                                    </p>
                                                                    
                                                                }
                                                               
                                                        </div>
                                                        <div>
                                                            <h6 class="card-text"> @serv.Nombre </h6>                                              

                                                            @if (serv.Precio != null)
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="far fa-money-bill-alt"></i>: S/.@serv.Precio
                                                                </h6>
                                                            }
                                                             
                                                         <hr/>
                                                            <a  href="/empresa/serv?Id=@serv.ServicioId" class="er_button" > Ver </a>    
                                                              <hr/>
                                                        </div>
                                                </div>
                                            </div>                                       
                                        }                                 
                                }
                                </div>
                                <button class="leftLst" style="background-color:transparent;color:black; opacity:0.5; font-weight: bold;font-size:60px;  "><</button>
                                <button class="rightLst" style="background-color:transparent;color:black; opacity:0.5;font-weight: bold;font-size:60px; ">></button>
                            </div>
                        </div>
                </div>
           </div>

                        <!-- Content Row -->
                                       
                    </div>
                </div>
    
    </div>
     

</body>

</html>





















  